* {
    box-sizing: border-box;
}

body {
    margin:0;
}

h1 {
    width: auto;
    color: bisque;
}


header {
    width: auto;
    height: 600px;
    background-image: url("landing1.jpg");
    background-size: 100% 100%;
}
a {
    color: bisque;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px;
}

/*so the next two lines aren't necessary however I added them to help me identify what link I was clicking on */
a:link {
    color: bisque;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    padding-bottom: 20px;
    border-bottom: 3px bisque solid;
}

#nav {
    display: grid;
    grid-template-columns: 80px 130px 190px 160px 220px;
    grid-column-gap: 0px;
    grid-template-areas: "nav nav nav nav";
}

#nav  {
    margin-top: 0;
    list-style: none;
    color: white;
    font-size: 40px;
}

.landing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingbtn {
    background-color: transparent;
    border: 3px bisque solid;
    width: 200px;
    color: bisque;
    font-size: 20px;
}

.toggle {
    display: none;
}

@media screen and (max-width: 730px) {
    #nav {
        display: inline;
        transition: transform 1s ease-in-out;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 300px;
        left: -340px;
        background-color: olivedrab;
    }

    #nav:target {
        transform: translateX(340px);
    }

    .close {
        text-align: right;
        display: block;
        text-decoration: none;
        font-size: 40px;
        position: relative;
        top: 0px;
        border: 3px bisque solid;
    }

    .close:hover {
        margin-bottom: 0px;
    }

    .open {
        text-align: left;
        font-size: 20px;
        display: inline;
    }

    .fullstackimg {
        width: 220px;
    }

    li:hover, li:active {
        border-bottom: 0px bisque solid;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 750px) {
    h1 {
        color: red;
    }
}
