* {
    box-sizing: border-box;
}

body {
    margin:0;
}

h1 {
    width: auto;
    color: bisque;
}


header {
    width: auto;
    height: 600px;
    background-image: url("landing1.jpg");
    background-size: 100% 100%;
}
a {
    color: bisque;
    text-decoration: none;
    text-align: center;
}

/*so the next two lines aren't necessary however I added them to help me identify what link I was clicking on */
a:link, a:visited {
    background-color: none;
    color: bisque;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: olivedrab;
    opacity:;
}

.nav {
    display: grid;
    grid-template-columns: 130px 180px 140px 220px;
    grid-template-rows: 45px;
    grid-column-gap: 0px;
    grid-template-areas: "nav nav nav nav";
}

.nav  {
    margin-top: 0;
    list-style: none;
    color: bisque;
    font-size: 40px;
}

@media screen and (min-width: 500px) {
    #nav {
        transition: transform 2s ease-in-out;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 300px;
        right: -340px;
    }

    #nav:target {
        transform: translateX(-340px);
    }

    .close {
        text-align: right;
        display: block;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: -30px;
    }

    .open {
        text-align: left;
    }

    .landing-page {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .fullstackimg {
        width: 220px;
    }

    .landingbtn {
        background-color: transparent;
        border: 3px bisque solid;
        width: 200px;
        color: bisque;
        font-size: 20px;
    }

}

@media only screen and (min-width: 768px) {

}
